<ion-content>
  @if(recipe(); as recipe){

  <img [src]="recipe.bannerUrl" class="recipe-banner" alt="Recipe cover" />
  <div class="main-container">
    <h1 class="recipe-title ion-text-center">{{ recipe.title }}</h1>

    <div class="ingredients-indications-row">
      <!-- Ingredients column -->
      <div class="ingredients-col">
        <h2>Ingredients</h2>
        <div class="ingredients-grid">
          @for(column of ingredientColumns(); track $index) {
          <div class="ingredient-column">
            @for (ingredient of column; track ingredient) {
            <div class="ingredient">
              <span class="ingredient-name">{{ ingredient.name }}</span>
              <ion-text color="medium">
                {{ ingredient.quantity }} {{ ingredient.unit }}
              </ion-text>
            </div>
            }
          </div>
          }
        </div>
      </div>
      <!-- Indications column -->
      <div class="indications-col">
        <h2>Indications</h2>
        <div class="indications-list">
          @for (indication of recipe.indications; track indication) {
          <div class="indication">
            <span>{{ indication.label }}: </span>
            <ion-text color="medium">{{ indication.value }}</ion-text>
          </div>
          }
        </div>
      </div>
    </div>

    <ion-input
      label="Servings"
      type="number"
      min="1"
      class="servings-input"
      [(ngModel)]="peopleCount"
      (ionChange)="onPeopleCountChange($event)"
    ></ion-input>

    <hr class="section-separator" />

    <div class="steps-list">
      @for(step of recipe.steps; track $index) {
      <div class="step">
        <ion-text class="step-index" color="medium">{{ $index + 1 }}.</ion-text>
        <div class="step-description">{{ step.text }}</div>
        @if (step.imageUrl) {
        <img [src]="step.imageUrl" class="step-image" alt="step {{$index+1}}" />
        }
      </div>
      }
    </div>
  </div>
  } @else { <ion-text>Loading...</ion-text> }
</ion-content>
