<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Recipe List </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @defer (when !isLoading) {
  <ion-list class="ion-padding-top">
    @for (item of recipes; track item.id) {
    <ion-item button [routerLink]="['/recipe', item.id]">
      <ion-avatar slot="start">
        <img [src]="item.imageUrl" alt="recipe {{item.id}} background" />
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <h3>{{ item.title }}</h3>
        <p>{{ item.author.name }}</p>
      </ion-label>

      <ion-badge slot="end"> {{ item.vote_average }} </ion-badge>
    </ion-item>
    } @empty { @if (!isLoading) {
    <ion-item lines="none">
      <ion-label class="ion-text-center">No recipe found</ion-label>
    </ion-item>
    } }
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    />
  </ion-infinite-scroll>
  } @placeholder {
  <ion-list class="ion-padding-top">
    @for (i of range(5); track i) {
    <ion-item lines="none" class="ion-padding-bottom">
      <ion-avatar slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-avatar>
      <ion-skeleton-text animated style="height: 40px" />
    </ion-item>
    }
  </ion-list>
  } @error {
  <ion-alert
    header="Error"
    [message]="error"
    isOpen="true"
    [buttons]="['Ok']"
  />
  } @loading(minimum 2s) { Transition to list.... }
</ion-content>
