<ion-content>
  @defer {
  <ion-list lines="none">
    <div class="container">
      @for (item of recipes; track item.id) {
      <ion-card button [routerLink]="['/recipe', item.id]" class="recipe-card">
        <ion-img [src]="item.bannerUrl" class="card-bg" />
        <div class="overlay">
          <div class="top-row">
            <div class="stars-badge">
              @for(star of this.getStars(item.vote_average); track $index){
              <ion-icon [name]="star" class="star"></ion-icon>
              }
            </div>
          </div>
          <div class="bottom-row">
            <ion-text class="ion-text-start">
              <h3>{{ item.title }}</h3>
            </ion-text>
            <ion-text class="ion-text-end">
              <p>{{ item.author.name }}</p>
            </ion-text>
          </div>
        </div>
      </ion-card>
      }
    </div>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    />
  </ion-infinite-scroll>
  } @placeholder {
  <ion-list lines="none">
    <div class="container">
      @for (i of range(10); track i) {
      <ion-item lines="none" class="ion-padding-bottom">
        <ion-avatar slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-avatar>
        <ion-skeleton-text animated style="height: 40px" />
      </ion-item>
      }
    </div>
  </ion-list>
  } @error {
  <ion-alert
    header="Error"
    [message]="error"
    isOpen="true"
    [buttons]="['Ok']"
  />} @loading {
  <ion-list class="ion-padding-top">
    <div class="container">
      @for (i of range(5); track i) {
      <ion-item lines="none" class="ion-padding-bottom">
        <ion-avatar slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-avatar>
        <ion-skeleton-text animated style="height: 40px" />
      </ion-item>
      }
    </div>
  </ion-list>
  }
</ion-content>
